html, body {
    margin: 0;
}

:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #DEDFDF;
}

::-moz-placeholder {
    color: #DEDFDF;
}

:-moz-placeholder {
    color: #DEDFDF;
}

:-ms-input-placeholder {
    color: #DEDFDF;
}

body {
    background: #a19e9e;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
dt {
    color: black;
    font-size: 26px;
}
dt{
    margin:10px
}
button {
    background: #4db185;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    height: 40px;
    width: 95px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.6,0,.4,1);
}

    button:hover {
        background: #3cd491;
    }

    