@model List<P50_1_19.Models.Post>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styleForUsers.css" />
    <a asp-action="PersonalPage" asp-controller="Home">Профиль</a>
</head>
<body>
    <div class="container" style="background:white">
        @foreach (Post post in Model)
        {
            <div>
                <div class="author_container">
                    <p class="author">Автор: @post.author</p>
                </div>
                <h3>@post.title</h3>
                <p>@post.body</p>
                <img src="@Url.Content(post.photo)" height="150" width="200" />
            </div>
        }
    </div>
    </body>
</html>